body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #7397c0;
    padding: 1rem 1.5rem;
    background-color: #94c6ff;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

section {
    padding: .7rem ;
    background-color: #ffffff;
}